:root {
    --bgcolor: #1f1f1f;
    /* --bgcolor: #fef6e4; */
    --default-font-color: #ffffff;
    /* --default-font-color: #fef6e4; */
    --outline: #999999;
    --primary: #28e98c;
    /* --primary: #fef6e4; */
    /* --primary: #0bc5ea; */
    --section-label-border: 1px;
    --home-profile-border: 0.5px;
    --secondary-border: 0.5px;
    --project-scrollbg: #1f1f1f;
}